body {
  margin: 0;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(#1e1d1e, #000000);
}
.dot {
  width: 30px;
  height: 30px;
  background-color: #3c3c3c;
  border-radius: 100%;
  margin: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .24);
  transition: background-color .2s;
}
.dot-active {
  background-color: #cd5d0b;
  box-shadow: 0 7px 7px rgba(0, 0, 0, .24);
  transition: background-color .2s;
}
.column {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: center;
}
.column-first {
  margin-left: 0;
}
.column-last {
  margin-right: 30px;
}
#colon {
  color: #cd5d0b;
  font-size: 72px;
  margin-bottom: 40px;
}
.label {
  font-family: "Courier New", Courier, monospace;
  color: #666666;
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 34px;
  transition: opacity .3s;
}
.label-hidden {
  opacity: 0;
  transition: opacity .3s;
}
#toggle {
  text-align: center;
  float: right;
  position: absolute;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  user-select: none;
}
.help-hidden {
  opacity: 0.1;
  transition: opacity .3s;
}
.help {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: #3c3c3c;
  transition: opacity .3s;
}
